<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Project 3 - Machine Driven</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container">

    <h1>Machine Driven</h1>

    <a href="/">
      <button id="home" class="btn btn-default btn-lg">HOME</button>
    </a>
    <a href="graphs">
      <button id="graphs" class="btn btn-default btn-lg">GRAPHS</button>
    </a>
    <a href="geomap">
      <button id="geomap" class="btn btn-default btn-lg">GEO MAPS</button>
    </a>
    <a href="degrees">
      <button id="degrees" class="btn btn-default btn-lg">DEGREES</button>
    </a>
    <a href="new-page">
      <button id="new-page" class="btn btn-default btn-lg">Project 3 Machine Driven</button>
    </a>
    <a href="neas_viz">
      <button id="neas_viz" class="btn btn-default btn-lg">NEAS SURVEY</button>
    </a>
    <a href="conclusions">
      <button id="conclusions" class="btn btn-default btn-lg">CONCLUSIONS</button>
    </a>

    <hr>


 
  
    <h3>Thesis Shift</h3>
    <h3> Our team allowed Project 2 to shift our focus to types of degrees and income from the degree. Our shift lead us
    to a NEAS Survey that was created by NORC a division of University of Chicago in 2017. 
    <h3>
    <h3> The goal of that study was to determine the percentage of adults who hold post-secondary degrees, certificates or licenses.

<h3>

   
    <ul>
      <li>
        <a href="http://www.norc.org/Research/Projects/Pages/national-education-and-attainment-survey.aspx" target="_blank">NORC at the University of Chicago</a>
      </li>
    </ul>
    <h3>MACHINE #1</h3>
    <h2>Predicting Income</h2>
    <h3>Machine #1 took the income ranges as the target and the rest of the data gathered as our predictors.</h3>
    <h2>Machine #1 Journey</h2>
    <h3>1st run (Random Forest): 36%</h3>
    <h3>4th run (Random Forest): 20.4%</h3>
    <h2>Data Engineering</h2>
    <h3>Final Run (Random Forest): 49.97% accuracy</h3>
    <h3>Best Machine #1: KMeans Clustering @ 68% accuracy</h3>
    <img width="600" src="/static/images/PATRICK_CLUSTERS.png" alt="Clusters">
    <h2>Top Predictors</h2>
    <img width="600" src="/static/images/Sorted Values_Machine_1.png" alt="Sorted Predictors">
    <h2>Machine #2: Random Forest and KMeans</h2>
    <h3>Target = "Weeks Worked" #1 Predictor according to our 1st Machine</h3>
    <h3> Random Forest 68%</h3>
    <h3> KMeans ???%</h3>
    <br>
    <br>
    <h2>Conclusion was...</h2>
 

  </div>
</body>

</html>